body {
    background-color: rgb(54, 136, 136);
    font-size: 16pt;
}

h1{
    text-align: center;
    color: rgb(219, 219, 115)
}

header{
    text-align: center;
    color: rgb(219, 219, 115)
}

.Remember {
    border-style: solid;
    border-color: red;
    border
}

p {
    text-align: center;
}

h3{
    color: linen;
    text-align: center;
    
}

img{
    width: 70%;
}

.steps_Container{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.step{
    border-style: initial;
    border: lavender double 10px;
    background: darkgoldenrod;
    border-radius: 10%;
    width: 250px;
    height: 300px;
}
